body{
    background-color: #efe7e5;
}

.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}


ul{
    margin:0;
}


a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(143, 28, 28);
    transition: 0.3s;
}



.profile-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    margin: 100px 100px;
}


#profile-picture{
    width: 400px;
    margin-right: 60px;
}

.introduction>h2{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

.introduction>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
    font-size: 18px;

    margin-bottom: 20px;
}

